<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Marco Antonio Sánchez Covarrubias. Jesus Iván Lafarga.

**Fecha:** 29 de Agosto del 2021.

**Expediente** : 720268, 708989.
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/MarcoSC08/Tarea2_MASanchez_JILafarga

# Tarea 2: Clase 4

## Optimización con Programación
> Serie de ejercicios para practicar las habilidades de utilizar funciones y optimización por medio de programación.

### Ejercicio 1: 
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

Código de solución estudiante 1

In [19]:
# Código de solución estudiante 1
import numpy as np
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

p= lambda x,y:x*y
def increase(value):
    if(value<100):
        value +=10
    return value

x=list(map(increase,[p(orders[i][2],orders [i][3]) for i in np.arange(len(orders))]))
result=list(map(lambda x,y: (x[0],y),orders,x))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 2: 
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

Código de solución estudiante 1

In [20]:
# Código de solución estudiante 1
from functools import reduce
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

#f=reduce(lambda x1,x2: x1*x2,orders2)
def nwp(s):
    return s[1] * s[2] if s[2] * s[1] >= 100 else s[2] * s[1] + 10
total = [[nwp(orders2[i][j]) for j in range(1, len(orders2[i]))]
         for i in range(len(orders2))]
[(orders2[i][0], reduce(lambda t, u: t * u, total[i])) for i in range(len(total))]

[(1, 4725810.37476),
 (2, 40418.5905),
 (3, 27464.259899999997),
 (4, 3919302.280575)]

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 3: 
3. Resolver los anteriores ejercicios usando pandas (DataFrame)

Código de solución estudiante 1

In [21]:
# Código de solución estudiante 1
import pandas as pd 
orders=pd.DataFrame(orders)


orders["Total"]=(orders.iloc[:,2]*orders.iloc[:,3]).apply(lambda x:x if x>=100 else x+10)


orders.drop([1, 2,3], axis=1, inplace=True)
orders

       0   Total
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 4: 
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

Código de solución estudiante 1

In [22]:
# Código de solución estudiante 1
lista="the notion of a lambda function goes all the way back to the origin of computer science"
f4 = lambda x: len(x) >= 4
x = list(filter(f4,lista.split()))
x

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 5: 
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

Código de solución estudiante 1

In [23]:
# Código de solución estudiante 1
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temp5 = (list(filter(lambda x:32
                    <= x <= 80, 
                    temperatures)))
print("The percentage of Fahrenheit temperatures in a list within the range 32 to 80 are: ", 
      len(temp5)*100/len(temperatures), "%")

The percentage of Fahrenheit temperatures in a list within the range 32 to 80 are:  46.666666666666664 %

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 6: 
6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

Código de solución estudiante 1

In [24]:
# Código de solución estudiante 1
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
np.minimum.reduce(point_xy)

array([0, 2])

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........